body {
	background-color: white;
	margin: 0;
	padding: 0;
}

#main-bloc {
	width: 100vw;
	max-width: 100%;
	height: auto;	
	margin: 0 auto;
	background-color: white;
}

#header-img img {
	max-width: 100%;
}



.topnav {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  width: 100%;
  max-width: 100%;
  z-index: 401;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  }

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #00C2FF;
  color: white;
}



.full-screen {
	background-image: linear-gradient(to bottom,  #ff0000 0%,#00000040 0%), url("image/wallpaper-blog-2.jpg");
	width: 100%;
	height: 900px;
	text-align: center;

}

.full-screen a {
	background-color: #00C2FF;
	border-color: #00C2FF;
}

.full-screen a:hover {
	background-color: grey;
	border-color: grey;
}

.btn-primary {
    color: #fff;
    background-color: #00C2FF;
    border-color: #00C2FF;
    }

.btn-primary a:hover {
    color: #ffffff;
    background-color: #dddddd;
    border-color: #dddddd;
    }

.full-screen h1 {
	width: 100%;	
	padding-top: 400px;
	color: white;
	font-size: 50px;
}

.full-screen h2 {
	width: 100%;
	color: lightgrey;
	font-size: 35px;
}


.row {
	margin: 0 auto;
	padding-bottom: 0; 
	max-width: 100%;
}


#first-row h2 {
color: #00C2FF;
font-size: 25px;
margin-top: 50px;

}

#first-row {
	padding: 10px;
	margin-bottom: 10px;
}


#skills {
	background-size: cover;
	background-position: center;
	background-color: #BABABA;
	background-attachment: fixed;
	padding-top: 25px;
	padding-bottom: 25px;
}

#skills p {
	margin-left: 30px;
	margin-right: 30px;
	color: white;
	font-size: 15px;
}

#skills h2 {
	color: white;
	margin-bottom: 35px;
	font-size: 25px !important;
}

#skills h3 {
	color: #fff;
	font-size: 22px;
}

.icon {
	font-size: 40px;
	margin-bottom: 20px;
	color: #00C2FF;
}

#progress {
	background-size: cover;
	background-position: center;
	background-color: white;
	background-attachment: fixed;
	padding-top: 25px;
	padding-bottom: 25px;
}

#progress h2 {
	color: #00C2FF;
	font-size: 25px;
	padding-bottom: 20px 
}

#progress h3 {
	color: black;
	font-size: 20px;
	padding-bottom: 5px;
	padding-top: 5px
}

.progress-bar {
	border-radius: 16px;
	background-color: #00C2FF;
}

.progress {
	border-radius: 16px;
}

#course {
	background-size: cover;
	background-position: center;
	background-color: #BABABA;
	background-attachment: fixed;
	padding-top: 25px;
	padding-bottom: 25px;
}

#course h2 {
	color: white;
	margin-bottom: 35px;
	font-size: 25px !important;
}


/* Timeline holder */
ul.timeline {
    list-style-type: none;
    position: relative;
    padding-left: 1.5rem;
}

 /* Timeline vertical line */
ul.timeline:before {
    content: ' ';
    background: #00C2FF;
    display: inline-block;
    position: absolute;
    left: 16px;
    width: 6px;
    height: 100%;
    z-index: 400;
    border-radius: 1rem;
}

li.timeline-item {
    margin: 10px;
    padding: 1rem!important;
}

/* Timeline item arrow */
.timeline-arrow {
    border-top: 0.5rem solid transparent;
    border-right: 0.5rem solid #fff;
    border-bottom: 0.5rem solid transparent;
    display: block;
    position: absolute;
    left: 2rem;
}

/* Timeline item circle marker */
li.timeline-item::before {
    content: ' ';
    background: #ddd;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #00C2FF;
    left: 11px;
    width: 14px;
    height: 14px;
    z-index: 400;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


h5 {
	color: #00C2FF;
	font-size: 18px;
}

#contact h2 {
	color: #00C2FF;
	font-size: 25px;
	margin-bottom: 20px;
	margin-top: 25px;
}

.footer {
	padding-top: 20px;
	padding-bottom: 10px;
	max-width: 100%;
	background-color: #212529;
}

.footer p {
	color: white;

}